.for-wrap {

}

.card {
   width: 300px;
   height: 400px;
   margin: 50px;
}

.image {
   width: 150px;
   height: 150px;
   margin: 0 auto;
}

.del {
   width: 30px;
   margin: 5px;
   cursor: pointer;
}